body {
  background-color: #fff;
  height: 100%
}

* {
  margin: 0;  
  padding: 0;
}

/* header */

#container {
}

#header {
  background-color: #f2f2f2;
  border-bottom: 1px solid #e4e4e4;
  height: 63px;
  min-width: 980px;
}

#left-header {
  float: left;
}

#logo-container {
  width: 122px;
}

#logo-container, #searchbar-container {
  display: inline-flex;
  vertical-align: middle;
}

#logo-container {
  width: 125px;
}

#logo {
  margin-left: 15px;
  margin-top: 5px;
}

#searchbar-container {
  padding: 10px 0;
}

#right-header {
  float: right;
  display: inline-flex;
}

#gridicon-container {
  padding-top: 20px;
}

#signin-container {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.signinbutton {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  background-color: #4386fa;
  border: 1px solid;
  border-color: #4386fa;
  border-radius: 2px;
  height: 32px;
  width: 69px;
}

/*subheader*/

#subheader {
  height: 60px;
  border-bottom: 1px solid #e4e4e4;
  min-width: 980px;
  overflow: hidden;
}

#subheader a:link {
  font-family: Arial;
  font-size: 13px;
  text-decoration: none;
  color: #777;
  padding: 15px;
}

#subheader a:visited {
  color: #777
}

#subheader a:hover {
  color: #000;
}

#options-container {
  float: left;
  padding-left: 130px;
  padding-top: 15px;
}

#bottomline {
  float: left;
  width: 15px;
  height: 42px;
  border-bottom: solid #4285f4;
  padding-right: 15px;
  margin-right: 15px;
}

#alloption {
  padding-left: 15px;
  color: #4285f4;
  font-weight: bold;
  position: relative;
  left: -10px;
}

#gear-container {
  float: right;
  padding-top: 14px;
  padding-right: 20px;
  padding-left: 300px;
}

/* search results */

#results-amount {
  font-family: Arial;
  font-size: 13px;
  color: #777;
  padding-top: 15px;
  padding-left: 135px;
  padding-bottom: 26px;
}

#results {
  margin-left: 135px;
  width: 620px;
  border-bottom: 1px solid #e4e4e4;
}

#results a:link {
  font-family: Arial;
  font-size: 17px;
  text-decoration: none;
  color: #1a0dab
}

#results a:visited {
  color: #609
}

#results a:hover {
  text-decoration: underline;
}

#results h1 {
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  color: #006621;
}

#results h2 {
  font-family: Arial;
  font-size: 13px;
  font-weight: normal;
  color: #6a6a6a;
  padding-bottom: 9px;
}

/* related searches */

#related {
  line-height: 1.5;
  margin-left: 135px;
  width: 615px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 18px;
}

#related h1 {
  font-weight: normal;
  font-size: 18px;
  color: #808080;
  font-family: Arial;
  padding-bottom: 3px;
  padding-top: 11px;
}

#related a:link {
  font-family: Arial;
  font-size: 12px;
  text-decoration: none;
  color: #1a0dab
}

#related a:visited {
  color: #609;
}

#related a:hover {
  text-decoration: underline;
}

/* pages */

#pages {
  padding-top: 20px;
  padding-left: 270px;
  padding-bottom: 16px;
}

/* footer */

#footer {
  border-top: 1px solid #e4e4e4;
  min-width: 980px;
  background-color: #f2f2f2;
  padding-top: 25px;
  padding-left: 130px;
  padding-bottom: 14px;
  margin: 0;
}

#footer a:link {
  font-family: Arial;
  font-size: 13px;
  text-decoration: none;
  color: #777;
  padding: 18px;
 }
  
#footer a:visited {
  color: #777;
}

#footer a:hover {
  color: #000;
}
