body {
  background-color: #fff;
  height: 100%
}

* {
  margin: 0;  
  padding: 0;
}

/* header */

#container {
}

#header {
  background-color: #f2f2f2;
  border-bottom: 1px solid #e4e4e4;
  height: 63px;
  min-width: 980px;
}

#left-header {
  float: left;
}

#logo-container {
  width: 122px;
}

#logo-container, #searchbar-container {
  display: inline-flex;
  vertical-align: middle;
}

#logo-container {
  width: 125px;
}

#logo {
  margin-left: 15px;
  margin-top: 5px;
}

#searchbar-container {
  padding: 10px 0;
}

#right-header {
  float: right;
  display: inline-flex;
}

#gridicon-container, #signincontainer {
}

#gridicon-container {
  padding-top: 20px;
}

#gridicon {
}

#signin-container {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.signinbutton {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  background-color: #4386fa;
  border: 1px solid;
  border-color: #4386fa;
  border-radius: 2px;
  height: 32px;
  width: 69px;
}