body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

#header {
  position: relative;
  margin: 0 auto 0;
  padding-top: 0px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e4e4e4;
  line-height: 63px;
}

ul li {
  display: inline-block;
  vertical-align: middle;
}

.navbar {
  list-style-type: none;
  margin: 0;
}

#logo {
  position: absolute;
  left: 14px;
  top: 15px;
}

#searchbar {
  position: absolute;
  left: 126px;
  top: 9px;
}

#gridicon {
  position: absolute;
  right: 120px;
  top: 21px;
}

.signinbutton {
  position: absolute;
  right: 30px;
  top: 15px;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  background-color: #4386fa;
  border: 1px solid;
  border-color: #4386fa;
  border-radius: 2px;
  height: 32px;
  width: 69px;
}